<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.3.xsd
">
    <!--自动扫描该包，springmvc会将带有@Controller注解的类注册为spring的controller-->
<context:component-scan base-package="cn.xufx.kn.controller"/>

    <mvc:annotation-driven/><!--设置默认配置方案-->

    <mvc:default-servlet-handler/><!--使用默认的Servlet响应静态文件-->

    <!--定义springmvc拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/*"/><!--拦截所有请求-->
            <!--自定义判断用户权限的拦截类-->
            <bean class="cn.xufx.kn.interceptor.AuthorizedInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--视图解析器-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix">
            <value>/WEB-INF/jsp/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize">
            <value>1048570</value><!--上传文件大小限制，10MB-->
        </property>
        <property name="defaultEncoding">
            <value>UTF-8</value><!--必须和jsp的pageEncoding一致，默认是iso-8859-1-->
        </property>
    </bean>
</beans>